
<p>&nbsp;</p>

<p style="text-align:center"><span style="font-size:36px"><strong>&nbsp;民主测评评分表</strong></span></p>

<p>部门 ：&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;考核时间：&nbsp; &nbsp; &nbsp; 年&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 月&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 日</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:967px">
  <tbody>
  <tr>
    <td colspan="1" rowspan="2" style="width:163px">
      <p style="text-align:center">姓名|评价等次</p>

      <p style="text-align:center">&nbsp;</p>
    </td>
    <td colspan="4" style="text-align:center; width:791px"><span style="font-size:20px"><strong>评价打分</strong></span></td>
  </tr>
  <tr>
    <td rowspan="1" style="text-align:center; width:1px">
      <p>好</p>

      <p>17-20</p>
    </td>
    <td rowspan="1" style="text-align:center; width:1px">
      <p>较好</p>

      <p>13-16</p>
    </td>
    <td rowspan="1" style="text-align:center; width:1px">
      <p>一般</p>

      <p>9-12</p>
    </td>
    <td rowspan="1" style="text-align:center; width:1px">
      <p>较差</p>

      <p>0-8</p>
    </td>
  </tr>
  <tr>
    <td style="text-align:center; width:163px">
      <p>张三</p>
    </td>
    <td colspan="4" style="text-align:center; width:791px">&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align:center; width:163px">
      <p>李四</p>
    </td>
    <td colspan="4" style="text-align:center; width:791px">&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align:center; width:163px">
      <p>王五</p>
    </td>
    <td colspan="4" style="text-align:center; width:791px">&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align:center; width:163px">
      <p>李白</p>
    </td>
    <td colspan="4" style="text-align:center; width:791px">&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align:center; width:163px">
      <p>杜甫</p>
    </td>
    <td colspan="4" style="text-align:center; width:791px">&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align:center; width:163px">
      <p>苏轼</p>
    </td>
    <td colspan="4" style="text-align:center; width:791px">&nbsp;</td>
  </tr>
  <tr>
    <td style="text-align:center; width:163px">&nbsp;</td>
    <td colspan="4" style="text-align:center; width:791px">&nbsp;</td>
  </tr>
  </tbody>
</table>

<p style="text-align:center">&nbsp;</p>

